.container {
  max-width: 400px;
}

input[type=text],
input[type=text]:focus {
  color: #fff;
  border: none;
  background: rgba(42, 121, 145, 0.2);
  max-width: 400px;
}

.todos-container li {
  background: #4197dd;
}

.delete {
  cursor: pointer;
}

.hidden {
  display: none;
}